{% extends "../base/base.html" %}
{% block content %}
<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">Posts ({{user.questions | length }})</a>
  <a class="item" data-tab="second">Comments ({{user.comments | length }})</a>
  <a class="item" data-tab="third"><i class="fa fa-envelope-o"></i>&nbsp;Send Message</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
	{% if user.questions|length > 0 %}
  	{% for question in user.questions %}
			  	<div class="ui segment">
	    			<div class="ui huge header" id="topic-name"> <a href="{% url 'forums:thread' question.url %}">{{ question.question }}</a> </div>
					<div class="ui items">
						<div class="item">
							<a href="#"><span data-attr="vote" data-value="1" data-parent={{question.qid}} ><i class="fa fa-thumbs-o-up"></i></span></a>
							&nbsp;&nbsp;&nbsp;
							<a href="#"><span data-attr="vote" data-value="-1" data-parent={{question.qid}}><i class="fa fa-thumbs-o-down"></i></span></a>
							&nbsp;&nbsp;&nbsp;
							{{question.voteCount}}
							<span> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; </span>
							<span> <i class="fa fa-comments-o"></i>  &nbsp;&nbsp; {{quesion.comments | length }} </span>
						</div>
					</div>
	  	</div>
	{% endfor %}
	{% else %}
	<div class="ui raised very padded text container segment">
		<h2 class="ui header">Dogs Roles with Humans</h2>
		<p></p>
		<p></p>
	</div>
	{% endif %}
</div>
<div class="ui bottom attached tab segment" data-tab="second">
	<div class="ui comments">

{% if user.comments|length > 0%}
	<div class="ui comments">

	  {% for comment in user.comments %}
	    <div class="content">
	      <a class="author"><h3><a href="/discussions/{{comment.question_id.url}}">{{comment.question_id.question}}</a></h3></a>
	      <div class="metadata">
	        <!-- <span class="date">Today at 5:42PM</span> -->
	      </div>
	      <div class="text">
	        {{comment.comment_text}}
	      </div>
	    </div>
	  <hr>
	  {% endfor %}
	</div>
	{% else %}
	<div class="ui raised very padded text container segment">
		<h2 class="ui header">No Comments</h2>
		<p></p>
		<p></p>
	</div>
	{% endif %}
	</div>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
	<div class="ui form">
	  <div class="field">
		<div class="ui sizer vertical segment">
			<div class="ui huge header">Message {{user.username}}</div>
			<p></p>
		</div>
	    <textarea name="message" id="text_message" ></textarea>
	  </div> 
	  <div class="ui submit button" id="send_message" data-user="{{user.id}}">Send</div>
	</div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
	$('.menu .item')
	    .tab();

	 $(document).on("click","#send_message" , function(){
	 	var message = $("#text_message").val(),
	 		user =  $(this).attr("data-user");
	 	if(message.length > 0){
	 		var data = {
	 			m : message,
	 			to : user
	 		}
	 		$.post("/discussions/message",data , function(){
	 			console.log(arguments);
	 		})
	 	}else{
	 		$(this).popup({
	 			content : "Woo hoo",
	 			on:"manual",
	 			closable : true
	 		});
	 		$(this).popup("show")
	 	}
	 })
</script>
{% endblock %}